*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid_1{
    margin: 10px;
    display: grid;
    min-height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
   
}




.bx1{

    grid-column: 1 / -1;
    background-color: red;
}

.bx2{
    background-color: blue;
    grid-column: 1/ span 2;
    grid-row: 2/ span 2;
}

.bx3{
    grid-column: 3 / span 2;
    background-color: green;
}

.bx4, .bx5{
    background-color: purple;
}

